<nav>
    <div class="nav container flex align-c">
        <div>
            <p class="logo"><a href="/">BLURGA 🍔</a></p>
        </div>
        <div class="links flex">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/blugs/create">New Blurg</a>
        </div>
    </div>
</nav>