<%- include('./partials/header') %>
    <body>
    <%- include('./partials/nav') %>
    <div class="container main spacer not-found">
        <h1>404</h1>
        <p><%= title %></p>
    </div>
    <%- include('./partials/footer') %>
    </body>