<%- include('./partials/header') %>

    <body>
        <%- include('./partials/nav') %>
            <div class="container main spacer">
                <h2>
                    <%= title %>
                </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolorem ducimus eveniet natus totam
                    voluptatum molestias harum fugit maxime! Obcaecati nihil recusandae temporibus, quo aperiam
                    doloremque excepturi earum fugiat fuga quae esse, assumenda est dolor deleniti, voluptate quisquam
                    repellat. Nulla ut quis tenetur fuga ipsam aut at voluptates tempore?</p>
                <img width="120" src="./img/g.jpg" alt="about godswill umukoro">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit reiciendis, culpa, corrupti totam
                    laborum consequuntur voluptatem commodi aperiam iusto iure sapiente illo maxime ex tempore sed eum
                    quisquam. Expedita modi quas officia nam, ratione veniam ex repudiandae a sequi ullam ducimus minus
                    rem? Ullam id ex, tempora amet dignissimos, esse vitae, nesciunt saepe itaque voluptatibus quis? Ab
                    quam, libero iste eaque dignissimos, numquam reiciendis reprehenderit veritatis optio laboriosam
                    voluptas. Consequuntur suscipit animi soluta perspiciatis nihil dolor provident culpa veniam
                    perferendis, rem alias officiis voluptatum praesentium consequatur architecto laudantium voluptates
                    odio. Nesciunt aperiam assumenda soluta error repudiandae ducimus velit nobis iste.</p>
            </div>
            <%- include('./partials/footer') %>

    </body>